
<div class="content-list-wrapper c w100">
  
  <div class="content-list-search">

  </div>

  <table>

    <tr>
      <th class="col-l">Site Name</th>
      <th>Logo</th>
      <th>Crawlers</th>
      <th class="col-r">Settings</th>
    </tr>

    <tr  class="list-item" *ngFor="let site of sites">
      <td class="col-l">
          <a class="f1" routerLink="/sites/{{site.name}}">{{site.name}}</a>
      </td>
      <td><img [src]="site.imgUrl"/></td>
      <td>
          <a routerLink="/sites/{{site.name}}/crawlers">0 Crawler</a>
      </td>
      <td class="col-r">
          <a routerLink="/sites/{{site.name}}/settings">
              <i class="fa fa-cog" aria-hidden="true"></i>
          </a>
      </td>
    </tr>

  </table>

</div>