
<table>
    <tr>
        <th>Site</th>
        <th>Entrance</th>
        <th>URL</th>
        <th>Strategy</th>
        <th>Frequency</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    <tr *ngFor="let entrance of entranceList">
        <td>{{entrance.siteName}}</td>
        <td>{{entrance.name}}</td>
        <td>{{entrance.url}}</td>
        <td>{{entrance.strategy.name}}</td>
        <td>{{entrance.strategy.frequency}}</td>
        <td>{{entrance.status}}</td>
        <td (click)="deleteEntrance(entrance)">Delete</td>
    </tr>
</table>