<div class="option-bar r">
  <div class="option-button" (click)="getBacklogs('author')">Authors</div>
  <div class="option-button" (click)="getBacklogs('article')">Articles</div>
  <div class="option-button" (click)="typecleaning()">Type Cleaning</div>
  <div class="option-button" (click)="generate()">Generate</div>
  <div class="option-button" (click)="archive()">Archive</div>
</div>

<table *ngIf="currentType == 'author'">
    <tr>
        <th>Type</th>
        <th>Info</th>
        <th>URL</th>
    </tr>
    <tr *ngFor="let backlog of backlogs">
        <td>{{backlog.type}}</td>
        <td class="r">
          <img class="table-profile-image" [src]="backlog.content.displayImage"/>
          &nbsp;
          <a href="https://seekingalpha.com{{backlog.url}}" target="_blank">
          {{backlog.content.displayName}}
          </a>
        </td>
        <td>
          {{backlog.url}}
        </td>
    </tr>
</table>

<table *ngIf="currentType == 'article'">
    <tr>
        <th>Type</th>
        <th>Info</th>
        <th>Status</th>
    </tr>
    <tr *ngFor="let backlog of backlogs">
        <td>{{backlog.type}}</td>
        <td class="r">
          <a href="https://seekingalpha.com{{backlog.url}}" target="_blank">
          {{backlog.content.displayName}}
          </a>
          &nbsp;
          <a href="https://seekingalpha.com{{backlog.url}}" target="_blank">
          {{backlog.content.title}}
          </a>
        </td>
        <td>
          Status
        </td>
    </tr>
</table>
