
<table>
    <tr>
        <th> </th>
        <th>Name</th>
        <th>PArticles</th>
        <th>Articles</th>
        <th>Blog</th>
        <th>Comments</th>
        <th>StockTalks</th>
        <th>Followers</th>
        <th>Following</th>
        <th>Since</th>
    </tr>
    <tr *ngFor="let author of authors">
        <td><img class="table-profile-image" [src]="author.displayImage"/></td>
        <td>{{author.displayName}}</td>
        <td class="ar">{{author.numPremiumArticles || '-'}}</td>
        <td class="ar">{{author.numArticles}}</td>
        <td class="ar">{{author.numBlogPosts}}</td>
        <td class="ar">{{author.numComments}}</td>
        <td class="ar">{{author.numStockTalks}}</td>
        <td class="ar">{{author.numFollowers}}</td>
        <td class="ar">{{author.NumFollowings}}</td>
        <td>{{author.contributorSince}}</td>
        <td (click)="deleteEntrance(entrance)">Delete</td>
    </tr>
</table>