<div class="page-body-content">
  <div class="content-list-wrapper c w100 f1">
    <table>
      <tr>
          <th class="col-l">Task</th>
          <th>Description</th>
          <th></th>
          <th></th>
      </tr>
        <tr  class="list-item r" *ngFor="let task of tasks">
          <td class="col-l">{{task.name}}</td>
          <td>{{task.description}}</td>
          <td><span class="app-btn" (click)="complete(task)"><i class="fa fa-check-square" aria-hidden="true"></i></span></td>
          <td><span class="app-btn" (click)="deleteTask(task)"><i class="fa fa-trash-o" aria-hidden="true"></i></span></td>
        </tr>
    </table>
  </div>
</div>