
<div class="app-page f1 r" *ngIf="site">
    
  <div class="side-menu c">
    <a routerLink="/sites/{{site.name}}/overall" routerLinkActive="active"  class="side-menu-nav">
      Overall
    </a>
    <a routerLink="/sites/{{site.name}}/crawlers" routerLinkActive="active"  class="side-menu-nav">
      Crawlers
    </a>
    <a routerLink="/sites/{{site.name}}/status" routerLinkActive="active" class="side-menu-nav">
      Status
    </a>
    <a routerLink="/sites/{{site.name}}/mappers" routerLinkActive="active" routerLinkActive="active" class="side-menu-nav">
      Mappers
    </a>
    <a routerLink="/sites/{{site.name}}/data" routerLinkActive="active" class="side-menu-nav">
      Data
    </a>
    <a routerLink="/sites/{{site.name}}/users" routerLinkActive="active" class="side-menu-nav">
      Users
    </a>
    <a routerLink="/sites/{{site.name}}/settings" routerLinkActive="active" class="side-menu-nav">
      Site Settings
    </a>
  </div>
  <div class="page-body c f1">
      
  
    <div class="page-cover c">
      
      <div class="page-cover-info page-cover-website r">
        <img [src]="site.imgUrl"/>
        <div class="c">
          <a routerLink="/sites/{{site.name}}/overall">{{site.name}}</a>
          <span>{{site.url}}</span>
        </div>
      </div>
    </div>
  

    <router-outlet></router-outlet>

  </div>

</div>

