
<div class="site-interface r">

    <div class="site-info c" *ngIf="site">

        <div class="site-info-content-wrapper c ">

            <span class="cyan black-text title">{{site.name | uppercase}}</span>

            <br/>

            <a routerLink="/sites/{{site.name}}/crawlers" routerLinkActive="active" class="r">

                <div class="site-info-nav">
                    [ CRAWLERS ]&nbsp;
                </div>

                <div class="site-info-nav orange-text" title="new crawler">
                    [ + ]
                </div>
                
            </a>

            <a routerLink="/sites/{{site.name}}/status" routerLinkActive="active" class="site-info-nav" >
                [ STATUS ]
            </a>

            <a routerLink="/sites/{{site.name}}/mapper" routerLinkActive="active" class="site-info-nav">
                [ MAPPERS ]
            </a>
            
            <a routerLink="/sites/{{site.name}}/settings" routerLinkActive="active" class="site-info-nav">
                [ SETTINGS ]
            </a>
            
            <div class="site-info-nav grey-text">
                <-BACK
            </div>

        </div>

    </div>

    <router-outlet></router-outlet>

</div>