
@import '../../../_theme';

.site-interface{
    @extend .fixed-full-screen;
    background-color:rgba(0,0,0,0.93);
}


.site-info{
    padding:1em 1em 1em 0.5em;
    width:8rem;

    .site-info-content-wrapper{
        //margin:0 auto;
    }

    img{height:3em;width:3em;}

    .description{
        font-size:0.8em;
        color:#AAA;
    }
}

.site-info-nav{
    font-size:1em;
    margin-top:0.5em;
    text-shadow:0 0 6px $CYAN;
    color:$CYAN;

    &:hover{
        cursor:pointer;
        color:#FFF;
    }
}
