
@import '../../../_theme';

.site-interface{

    position:fixed;
    top:0;left:0;
    width:100%;height:100%;
    background-color:#222;
}


.site-info{
    padding:1em 1em 1em 1em;
    min-width:14rem;
    border-right:$theme solid 1px;

    background-image: linear-gradient(0deg,
        $n 0%, $n 9px,
        $b 9px, $b 10px, $n 10px, $n 19px,
        $t 19px, $t 20px, $n 20px, $n 29px,
        $t 29px, $t 30px, $n 30px, $n 39px,
        $t 39px, $t 40px, $n 40px, $n 49px,
        $t 49px, $t 50px),
    linear-gradient(-90deg,
        $n 0%, $n 9px,
        $b 9px, $b 10px, $n 10px, $n 19px,
        $t 19px, $t 20px, $n 20px, $n 29px,
        $t 29px, $t 30px, $n 30px, $n 39px,
        $t 39px, $t 40px, $n 40px, $n 49px,
        $t 49px, $t 50px);
    background-size: 50px 50px;

    .site-info-content-wrapper{
        width:300px;
        margin:0 auto;
    }

    img{
        height:5em;
        width:5em;
        margin:0 auto;
    }

    .title{
        font-weight:300;
    }

    .description{
        font-size:0.8em;
        color:#AAA;
    }
}

.site-info-nav{
    padding:1em;
    border-radius:3px;
    text-align:center;
    margin-bottom:1em;
    letter-spacing:3px;
    font-weight:bold;
    border:#EEE solid 1px;
    color:#EEE;

    &:hover{
        cursor:pointer;
        border:#FFF solid 1px;
        color:#FFF;
        text-shadow:0 0 1em #eee;
    }
}