@import '../../_theme';


.page{
    padding:1em;
}

.site-info-box{
    margin:1px;
    border-top:$theme solid 1px;
    padding:0.5em 0;

    img{
        height:3em;width:3em;
        margin-right:0.5em;
    }

    .summary-interface{
        margin-left:0.5em;
        padding:0.5em;
        background-color:rgba(255,255,255,0.1);
    }
}

.new-site-form{

    .new-site-input{
        border:none;
        background-color:rgba(255,255,255,0.8);
        border-radius:2px;
        margin-bottom:0.5em;
        padding:0.5em 0.5em;
        font-size:1rem;
        font-family:$font-stack;
    }

    .submit-btn{
        background-color:$green;
        padding:0.3em 1em;
        align-self:flex-start;

        &:hover{
            cursor:pointer;
        }
    }
}

