@import '../../_theme';


.page{
    padding:1em;
}

.site-info-box{
    padding:0.5em;
    border:$CYAN_S1 double 3px;
    margin-right:1em;
    border-radius:3px;
    width:10em;

    img{
        height:1.5em;width:1.5em;
        margin-left:0.5em;
    }

    &:hover{
        cursor:pointer;
        border:$CYAN double 3px;
        box-shadow:0 0 1em $CYAN_S2;
    }
}



