<div class="page f1 r wr">
  
  <div class="site-info-box c" *ngFor="let site of sites">
    <div class="r">
      <div class="c">
        <span><a routerLink="/sites/{{site.name}}" routerLinkActive="active">{{site.name}}</a></span>
      </div>
      <div class="f1"></div>
      <img [src]="site.imgUrl"/>
    </div>

    <div class="summary-interface f1">
      <a routerLink="/sites/{{site.name}}" routerLinkActive="active">[ Crawler ]</a>
    </div>
  </div>
  
  <a routerLink="/sites/new" routerLinkActive="active" class="site-info-box new-site-btn c" >
    <i class="fa fa-plus-square-o" aria-hidden="true"></i>
    <span>NEW SITE</span>
  </a>


</div>

<router-outlet></router-outlet>