@import '../../_theme';
.system-stats{

    .system-stat{
        padding:0.5em;

        h1{
            padding:0;
            margin:0;
            line-height:1;
            font-size:1em;
            font-weight:bold;
        }

        h2{
            padding:0;
            margin:0;
            line-height:1;
            font-size:1em;
            color:$ORANGE;
            font-weight:normal;
        }
    }
}

.server{
    padding:0.5em;
    margin:0.5em;
    border:$WHITE solid 1px;

    &:hover{
        cursor:pointer;
        border:$WHITE solid 1px;
    }

    .system{
        padding:0.5em 0;
        margin-top:1em;
        font-size:0.8em;

        p{
            line-height:1.1;margin:0;padding:0;
        }
    }
}

.supervisor{
    color:$ORANGE;
}