<div class="site-interface c f1">

    <div class="site-interface-action-bar r">
        <a class="site-interface-action-bar-item" routerLink="/" routerLinkActive="active">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>
        <a class="site-interface-action-bar-item" routerLink="/site/SA/sitemap" routerLinkActive="active">
            Sitemap
        </a>
        <a class="site-interface-action-bar-item" routerLink="/site/SA/entrances" routerLinkActive="active">
            Entrances
        </a>
        <a class="site-interface-action-bar-item" routerLink="/site/SA/posts" routerLinkActive="active">
            Article DB
        </a>
        <a class="site-interface-action-bar-item" routerLink="/site/SA/authors" routerLinkActive="active">
            Author DB
        </a>
        <a class="site-interface-action-bar-item" routerLink="/site/SA/backlogs" routerLinkActive="active">
            Backlogs
        </a>
        <a class="site-interface-action-bar-item" routerLink="/site/SA/logs" routerLinkActive="active">
            Live Log
        </a>
        <input class="action-bar-search" placeholder="Search.." spellcheck="none"/>
        <i class="fa fa-search search-icon" aria-hidden="true"></i>

        <div class="f1"></div>
        <div class="site-interface-action-bar-item" (click)="commenceProbing()">
            <i class="fa fa-play" aria-hidden="true"></i>&nbsp;
            Commence Probing
        </div>
        <div class="site-interface-action-bar-item" (click)="runTest()">
            <i class="fa fa-play" aria-hidden="true"></i>&nbsp;
            Run Test
        </div>
    </div>

    <div class="probe-log-stream c ofys">
        <router-outlet></router-outlet>
        <div class="log-entry c s0" *ngFor="let node of nodes">
            <div class="c s0" *ngFor="let N of node.children">
                <br>
                <a href="https://seekingalpha.com{{N.url}}" target="_blank">{{N.name}}</a>
                <div class="entrance-row r s0" *ngFor="let n of N.children">
                    <div class="f1">{{n.name}}</div>
                    <a class="f1" href="https://seekingalpha.com{{n.url}}" target="_blank">{{n.url}}</a>
                    <div class="f162"> Status</div>
                </div>
            </div>
        </div>
    </div>
</div>
