
@import '../../../../../_theme';

.content-list-wrapper{

    .content-list-head{
        padding:0.5em $padding-side;
        font-size:1em;
        align-items:flex-start;
    }
    
    .list-item{
        padding:0.5em 0;
        margin:0.5em;
        border:$CYAN_S1 solid 1px;

        span{
            padding:0 0.5em;
        }
    }
}