<perfect-scrollbar class="work-space f1 c " *ngIf="task">

  <form class="new-form c">
    <div class="new-form-row r">
      <div class="label f1 c">
        <span>Task Name</span>
      </div>
      <div class="input-wrapper f162">
        <input class="text-input" type="text" spellcheck="false" [(ngModel)]="task.name" name="taskName"/>
      </div>
    </div>

    <div class="new-form-row r">
      <div class="label f1 c">
        <span>Task Description</span>
      </div>
      <div class="input-wrapper f162">
        <textarea class="text-input"type="text" spellcheck="false" [(ngModel)]="task.description" name="crawlerDescription"></textarea>
      </div>
    </div>

    <div class="new-form-row r">
      <div class="label f1 c">
      </div>
      <div class="input-wrapper f162">
        <div class="app-btn-large" (click)="discardChanges()">Discard</div>
        &nbsp;
        <div class="app-btn-large" (click)="create()">Create</div>
      </div>
    </div>

  </form>

</perfect-scrollbar>