
<div class="app-background">
  <!--<img src="https://i.ytimg.com/vi/MVbeoSPqRs4/maxresdefault.jpg"/>
  -->
</div>

<div class="main r">
  <div class="site-list c">
    <a class="swarm-hive r" routerLink="/" routerLinkActive="active">
      <img src="https://s3.amazonaws.com/nvest/logonobg.png"/>
      &nbsp;SWARM
    </a>

    <div class="site-list-item-wrapper c">
      <a class="site-list-item" routerLink="/sites" routerLinkActive="active">
        Sites
      </a>
      <a class="site-list-item" routerLink="/colors" routerLinkActive="active">
        Color Palette
      </a>
      <a class="site-list-item" routerLink="/cluster" routerLinkActive="active">
        Cluster
      </a>
      <a class="site-list-item" routerLink="/site/SA" routerLinkActive="active">
        Seeking Alpha
      </a>
      <a class="site-list-item" (click)="login()" *ngIf="!developer.displayName">
        Login
      </a>
      <a class="site-list-item" (click)="logout()" *ngIf="developer.displayName">
        Logout
      </a>

    </div>
  </div>

  <div id="developer-panel" *ngIf="developer">
    <div class="c">
      <div class="img-wrapper">
        <img [src]="developer.photoURL">
      </div>
      <div class="developer-info c">
        {{developer.displayName}}

      </div>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>