
<div class="app-background">
  <!--<img src="https://i.ytimg.com/vi/MVbeoSPqRs4/maxresdefault.jpg"/>
  -->
</div>

<div class="main r">
  <div class="site-list c">
    <a class="swarm-hive r" routerLink="/" routerLinkActive="active">
      <img src="https://s3.amazonaws.com/nvest/logonobg.png"/>
      &nbsp;SWARM
    </a>
    <a class="site-list-item" routerLink="/sites" routerLinkActive="active">
      Sites
    </a>
    <a class="site-list-item" routerLink="/colors" routerLinkActive="active">
      <i class="fa fa-folder-o" aria-hidden="true"></i>
      &nbsp;Color Palette
    </a>
    <a class="site-list-item" routerLink="/cluster" routerLinkActive="active">
      <i class="fa fa-folder-o" aria-hidden="true"></i>
      &nbsp;Cluster
    </a>
    <a class="site-list-item" routerLink="/site/SA" routerLinkActive="active">
      <i class="fa fa-folder-o" aria-hidden="true"></i>
      &nbsp;Seeking Alpha
    </a>
    <a class="site-list-item" routerLink="/socket" routerLinkActive="active">
      <i class="fa fa-folder-o" aria-hidden="true"></i>
      &nbsp;Socket
    </a>
    <a class="site-list-item" (click)="login()">
      Login
    </a>
    <a class="site-list-item" (click)="logout()">
      Logout
    </a>
  </div>

  <router-outlet></router-outlet>

  <div id="developer-panel" *ngIf="developer">
    <div class="c">
      <div class="img-wrapper">
        <img [src]="developer.photoURL">
      </div>
      <div class="developer-info c">
        {{developer.displayName}}

      </div>
    </div>
  </div>
</div>