<div class="app-cover c" *ngIf="!developer.displayName">

  <div class="entrance-box c">
    <div class="logo-img-wrapper"><img src="https://s3.amazonaws.com/nvest/logonobg.png"/></div>
    <h1>SWARM</h1>
    <p>Nvest External Data Management System</p>
    <p>*Internal Personnel Only</p>
    <form class="c">
      <input type="text" placeholder="Username"/>
      <input type="password" placeholder="Password"/>
      <div class="login-btn">
        Login
      </div>
      <div class="social-login c">
        --------------
        &nbsp;&nbsp;Authenticated Social Login&nbsp;&nbsp;
        --------------
        <div class="social-login-options r">
          <div class="social-login-option" (click)="login()" >
              <i class="fa fa-google" aria-hidden="true"></i>
          </div>
          <div class="social-login-option">
              <i class="fa fa-facebook" aria-hidden="true"></i>
          </div>
          <div class="social-login-option">
              <i class="fa fa-github" aria-hidden="true"></i>
          </div>
        </div>

      </div>
    </form>
  </div>
  
</div>

<div class="app-background"></div>

<div class="main r" *ngIf="developer.displayName &&  appReady">

  <div class="app-nav-bar r">
    <div class="app-nav-bar-bo" *ngFor="let node of this.routerMapper.map">
      <a routerLink="{{node.url}}">{{node.name}}</a>
      <span *ngIf="node.children.length">
        &nbsp;
        <i class="fa fa-caret-right" aria-hidden="true"></i>
      </span>

      <div class="app-nav-dropdown c">
        <a class="app-nav-dropdown-item" routerLink="{{child.url}}" *ngFor="let child of node.children">
          {{child.name}}
        </a>
      </div>

    </div>

    <div class="f1"></div>
    <div class="nav-btn">
      Msg
    </div>
    <div class="nav-btn" (click)="menuToggle()">
      Menu
    </div>
  </div>

  <div class="app-main-wrapper r f1" [ngClass]="{'background-blur':menuDisplay}">
    <router-outlet></router-outlet>
  </div>

  <div class="site-list c">
<!--     
    <a class="swarm-hive r" (click)="menuToggle()" *ngIf="!menuDisplay">
      <img src="https://s3.amazonaws.com/nvest/logonobg.png"/>
    </a> -->

    <div class="app-menu c" [ngClass]="{'menu-expand': menuDisplay}" >
      <div class="app-menu-title">
        Nvest Internal System
      </div>
      <div class="app-menu-component c" *ngIf="developer">
        <input type="text" placeholder="search.." spellcheck="false"/>
      </div>

      <div class="app-menu-component c">
        <div class="app-menu-component-header">Functions</div>
        <div class="app-nav-list r wr">
          <a class="site-list-item c" routerLink="/sites" routerLinkActive="active">
            <i class="fa fa-sitemap" aria-hidden="true"></i>
            <div class="f1"></div>
            Sites
          </a>
          <a class="site-list-item c" routerLink="/colors" routerLinkActive="active">
            <i class="fa fa-paint-brush" aria-hidden="true"></i>
            <div class="f1"></div>
            UI Guidelines
          </a>
          <a class="site-list-item c" routerLink="/cluster" routerLinkActive="active">
            <i class="fa fa-connectdevelop" aria-hidden="true"></i>
            <div class="f1"></div>
            Cluster
          </a>
          <a class="site-list-item c" routerLink="/resources" routerLinkActive="active">
            <i class="fa fa-bath" aria-hidden="true"></i>
            <div class="f1"></div>
            Resources
          </a>
          <a class="site-list-item c" routerLink="/developer/tasks" routerLinkActive="active">
            <i class="fa fa-tasks" aria-hidden="true"></i>
            <div class="f1"></div>
            Tasks
          </a>

        </div>
      </div>


      <div class="app-menu-component c" *ngIf="developer">
        <div class="app-menu-component-header">Profile</div>
        <div class="profile-row r">
          <img class="profile-img" [src]="developer.photoURL"/>
          <a routerLink="/developer">{{developer.displayName}}</a>
          <div class="f1"></div>
          <i class="fa fa-sign-out" aria-hidden="true" (click)="logout()"></i>
        </div>
      </div>

    </div>

    <div class="menu-app-mask" *ngIf="menuDisplay" (click)="menuToggle()"></div>

  </div>
  
</div>