

<div class="app-page f1 c">

  <div class="page-cover c">
    <div class="page-cover-info r">
      <div class="c">
        <span>Cluster</span>
      </div>
    </div>

    <div class="page-cover-nav-wrapper r">
      <!-- <input placeholder="search"/> -->
  </div>

  </div>

  <perfect-scrollbar class="page-body c f1">
    <div class="system-stats r">
      <div class="system-stat r">
        <h2 class="ac">Flow Rate&nbsp;</h2>
        <h1 class="ac">96/s</h1>
      </div>
      <div class="system-stat r">
        <h2 class="ac">Supervisors&nbsp;</h2>
        <h1 class="ac">2</h1>
      </div>
      <div class="system-stat r">
        <h2 class="ac">Servers&nbsp;</h2>
        <h1 class="ac">{{serverNum}}</h1>
      </div>
      <div class="system-stat r">
        <h2 class="ac">Queue&nbsp;</h2>
        <h1 class="ac">{{queueLength}}</h1>
      </div>
    </div>

    <div class="content-list-wrapper c w100">
      <div  class="list-item r" *ngFor="let server of servers | async">
        <a class="f2" routerLink="/cluster/server/1">
          <span>{{server.type}}</span>
        </a>
        <span class="f1 fe">{{(time - server.updated_at)/1000 | number:'1.0-0'}} s</span>
        <span class="f1 fe">{{(time - server.created_at)/1000/60/60 | number:'1.1-1'}} hr</span>
        <span class="f1 fe">{{server.system.freeMem/1024/1024 | number:'1.0-0'}} / {{server.system.totalMem/1024/1024 | number:'1.0-0'}} MB</span>
        <span class="f1 fe">{{server.system.type}}</span>
      </div>
    </div>

  </perfect-scrollbar>


</div>
