@import '../../../_theme';



.new-site-btn{
    align-items:center;
    justify-content:center;
    color:$CYAN;
    cursor:pointer;

    i{
        font-size:3em;
        color:$CYAN_S2;
    }
}

.new-site-form{
    width:600px;
    margin:0 auto;
    align-items:flex-center;
    justify-content:flex-center;

    .new-site-input{
        border:none;
        border:$CYAN solid 0.5px;
        border-radius:3px;
        margin-bottom:1em;
        padding:0.5em;
        font-size:1.2em;
        color:white;
        background-color:rgba(0,0,0,0);
        font-family:$font-stack;
        color:$CYAN;

        &:focus{
            outline:none;
        }
    }

    textarea{
        resize:vertical;
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $CYAN_S1;
    }
    ::-moz-placeholder { /* Firefox 19+ */
        color: $CYAN_S1;
    }
    :-ms-input-placeholder { /* IE 10+ */
        color: $CYAN_S1;
    }
    :-moz-placeholder { /* Firefox 18- */
        color: $CYAN_S1;
    }
}

