<div class="new-site-wrapper">
  <form class="new-site-form c">
    <h1>New Site</h1>
    <input class="new-site-input" type="text" spellcheck="false" placeholder="site name" [(ngModel)]="newSite.name" name="siteName"/>
    <input class="new-site-input" type="text" spellcheck="false" placeholder="site URL" [(ngModel)]="newSite.url" name="siteUrl"/>
    <input class="new-site-input" type="text" spellcheck="false" placeholder="site logoURL" [(ngModel)]="newSite.imgUrl" name="imgUrl"/>
    <textarea class="new-site-input" type="text" spellcheck="false" placeholder="site description" [(ngModel)]="newSite.description" name="siteDescription"></textarea>
    <div class="button -green center" (click)="submitNewSite()">Submit</div>
  </form>
</div>