
@import '../../../../_theme';

.sites-panel{
    padding:0 0.5em 0 0;
    margin-bottom:1em;

    input{
        border:none;
        padding:0.2em 0.5em;
        font-size:1em;
        font-family: $font-stack;
    }
}

.crawler-info-box{
    padding:0.5em;
    border:$CYAN_S1 double 3px;
    margin:0 1em 1em 0;
    border-radius:3px;
    width:12em;
    align-self:flex-start;

    &:hover{
        cursor:pointer;
        border:$CYAN double 3px;
        box-shadow:0 0 1em $CYAN_S2;
    }
}