

<div class="app-page f1 r">
  <div class="conversations-list-wrapper c">
    <div class="conversation-thumb r">
      <div class="thumb-image-wrapper">
        <img src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/AAEAAQAAAAAAAA2VAAAAJDIwMjg2Y2IxLTBlM2UtNGNkNi1iYjAzLTAyZGUzMzY4ZWFmYw.jpg"/>
      </div>

      <div class="conversation-info c">
        <span>Han Qiu</span>
        <span>sdfasdfasd</span>
      </div>
    </div>
    <div class="conversation-thumb r">
      <div class="thumb-image-wrapper">
        <img src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/AAEAAQAAAAAAAA2VAAAAJDIwMjg2Y2IxLTBlM2UtNGNkNi1iYjAzLTAyZGUzMzY4ZWFmYw.jpg"/>
      </div>

      <div class="conversation-info c">
        <span>Han Qiu</span>
        <span>sdfasdfasd</span>
      </div>
    </div>
    <div class="conversation-thumb r">
      <div class="thumb-image-wrapper">
        <img src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/AAEAAQAAAAAAAA2VAAAAJDIwMjg2Y2IxLTBlM2UtNGNkNi1iYjAzLTAyZGUzMzY4ZWFmYw.jpg"/>
      </div>

      <div class="conversation-info c">
        <span>Han Qiu</span>
        <span>sdfasdfasd</span>
      </div>
    </div>
    
  </div>

  <router-outlet></router-outlet>
</div>
