
@import '../../../_theme';

$borderColor:rgba(255,255,240,0.7);

.site-info{
    padding:1em 1em 1em 1em;
    // border-top:$borderColor solid 1px;
    // border-left:$borderColor solid 1px;
    // border-bottom:$borderColor solid 1px;
    //border-right:rgba(255,255,240,0.3) solid 1px;
    width:14rem;
    margin:1em 0 1em 1em;
    margin:0;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;

    background-image: linear-gradient(0deg,
        $n 0%, $n 9px,
        $b 9px, $b 10px, $n 10px, $n 19px,
        $t 19px, $t 20px, $n 20px, $n 29px,
        $t 29px, $t 30px, $n 30px, $n 39px,
        $t 39px, $t 40px, $n 40px, $n 49px,
        $t 49px, $t 50px),
    linear-gradient(-90deg,
        $n 0%, $n 9px,
        $b 9px, $b 10px, $n 10px, $n 19px,
        $t 19px, $t 20px, $n 20px, $n 29px,
        $t 29px, $t 30px, $n 30px, $n 39px,
        $t 39px, $t 40px, $n 40px, $n 49px,
        $t 49px, $t 50px);
    background-size: 50px 50px;

    img{
        height:5em;
        width:5em;
        margin:0 auto;
    }

    .title{
        font-weight:300;
    }

    .description{
        font-size:0.8em;
        color:#AAA;
    }
}

.crawler{
    // border-top:$borderColor solid 1px;
    // border-right:$borderColor solid 1px;
    // border-bottom:$borderColor solid 1px;
    width:16rem;
    margin:1em 1em 1em 0;
    margin:0;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
}

.crawler-interface{
    position:fixed;
    top:0;left:0;
    width:100%;height:100%;
    z-index:10;
    background-color:rgba(0,0,0,0.8);
    background-image: linear-gradient(to bottom, #222 0%, darken(#111, 5%) 100%);
}

.ace-monokai{
    background-color:rgba(0,0,0,0)!important;
}



.crawler-panel{
    padding:0;
    background-color:rgba(255,255,255,0.1);
    border-bottom:black solid 1px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:1em;

    .url-section-wrapper{
        background-color:#ccc;

        &:hover{
            cursor:pointer;
            background-color:white;
        }
    }


    .url-section-type{
        color:#C43E2B;
        padding:0.2em 0.3em;
    }

    .url-section{
        background-color:transparent;
        color:white;
        padding:0.2em 0em 0.2em 0em;
        color:black;
    }

    .root-url{
        padding:0.2em 0em 0.2em 0em;
        color:black;
    }

    input{
        background-color:orange;
        border:none;
        font-family:$font-stack;
        font-size:1em;
        padding:0.2em 0.5em;
        color:black;
        text-shadow:0 0 3px rgba(0,0,0,0.3);
        box-shadow:inset 0 0 1rem rgba(0,0,0,0.2);

        &:focus{
            outline:none;
        }
    }

    .range-selector-input{
        width:100px;
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: black;
    }
    ::-moz-placeholder { /* Firefox 19+ */
    color: black;
    }
    :-ms-input-placeholder { /* IE 10+ */
    color: black;
    }
    :-moz-placeholder { /* Firefox 18- */
    color: black;
    }

    button{
        margin-left:1em;
        padding:0.2em 0.5em;
        color:white;
        border:none;
        background-color:$theme;
        font-family:$font-stack;
        font-size:1em;
    }

    .add-url-wrapper{
        align-items:center;

        .url-strategy{
            padding:0.2em 0.5em;
            background-color:rgba(255,255,255,0.2);
            font-size:0.9em;
            margin:0.1em;

            &:hover{
                cursor:pointer;
                background-color:rgba(255,255,255,0.3);
            }
        }

        .add-button{
            padding:0.1em 0.3em;
            background-color:$theme;
            color:rgba(255,255,255,0.5);
            border-radius:3px;

            &:hover{
                cursor:pointer;
                color:white;
            }
        }
    }
}

.work-space{
    align-items:stretch;

    .editor-wrapper{

    }


    .output-interface{
        width:360px;
        background-color:rgba(255,255,255,0.1);

        .interface-module{
            padding:0.5em;

            .interface-module-body{
                background-color:black;
                padding:0.5em;
            }
        }
    }
}