
/////////////////////////////////////////////////////////
/* Color Palette */
$theme:rgb(43, 196, 124);
$orange:rgb(255, 110, 79);
$green:rgb(63, 204, 77);
$red:rgb(198, 34, 25);
/////////////////////////////////////////////////////////

$transition: all 0.5s ease;
$transition-fast: all 0.2s ease;
$transition-very-fast: all 0.1s ease;

$TEXT:rgba(36, 178, 153,1);
$CAPTION: rgba(255,255,255,0.5);
$CYAN:rgb(106, 244, 255);
$CYAN_S1:rgba(43, 82, 107,1);
$CYAN_S2:rgba(73, 112, 137,0.3);

$BLUE:rgba(0, 127, 232,1);
$BLACk:rgba(0, 0, 0,1);

$ORANGE:rgba(224, 123, 61, 1);
$WHITE:rgba(255,255, 245, 1);
$GREY:rgba(120,120, 120, 1);
$YELLOW:rgba(255, 199, 64,1);
$PURPLE:rgba(106, 77, 158,1);

$RED: rgba(241, 103, 105,1);
$PINK: rgba(230, 76, 132,1);

$GREEN: rgba(62, 175, 77,1);
$line:rgba(238, 238, 220,0.5);

$c: rgb(35, 76, 104);
$c: rgb(36, 36, 36);
$b: rgba(255,255,255,.05);
$t: rgba(255,255,255,.02);

$b: rgba(150,150,150,.05);
$t: rgba(150,150,150,.0);
$n: transparent;

$font-stack:'Exo 2', 'Microsoft Yahei';

$yellowish: rgb(255,255,200);

$padding-side: 0.5em;

$grid: linear-gradient(0deg,
        $n 0%, $n 9px,
        $b 9px, $b 10px, $n 10px, $n 19px,
        $t 19px, $t 20px, $n 20px, $n 29px,
        $t 29px, $t 30px, $n 30px, $n 39px,
        $t 39px, $t 40px, $n 40px, $n 49px,
        $t 49px, $t 50px),
        linear-gradient(-90deg,
        $n 0%, $n 9px,
        $b 9px, $b 10px, $n 10px, $n 19px,
        $t 19px, $t 20px, $n 20px, $n 29px,
        $t 29px, $t 30px, $n 30px, $n 39px,
        $t 39px, $t 40px, $n 40px, $n 49px,
        $t 49px, $t 50px);


.fixed-full-screen{
    position:fixed;top:0;left:0;width:100%;height:100%;
}

.app-btn{
  
    color:#111;
    padding:0 0.2em 0 0.2em;
    background-image:linear-gradient(to bottom, #eee 0%, #bbb 100%);
    border-radius:1px;
    align-items:center;
    justify-content:center;

    &:hover{
      cursor:pointer;
      background-image:linear-gradient(to bottom, #fff 0%, #ccc 100%);
      color:#000;
    }
  
    &:active {
      transition: all 60ms ease;
      opacity: .75;
    }
    
    &:focus {
      outline: 1px dotted #959595;
      outline-offset: -4px;
    }
}

.app-btn-large{
  
    color:#111;
    padding:0.5em 1em;
    background-image:linear-gradient(to bottom, #eee 0%, #bbb 100%);
    border-radius:1px;
    align-items:center;
    justify-content:center;
    font-size:1.2em;

    &:hover{
      cursor:pointer;
      background-image:linear-gradient(to bottom, #fff 0%, #ccc 100%);
      color:#000;
    }
}


.cyan{background-color:$CYAN;box-shadow: 0 0 9px $CYAN;}
.cyan-text{color:$CYAN!important;text-shadow: 0 0 9px $CYAN;}

.cyan-s-1{background-color:$CYAN_S1;box-shadow: 0 0 9px $CYAN_S1;}
.cyan-s-1-text{color:$CYAN_S1!important;}

.cyan-s-2{background-color:$CYAN_S2;box-shadow: 0 0 9px $CYAN_S2;}
.cyan-s-2-text{color:$CYAN_S2!important;}

.orange{background-color:$ORANGE;box-shadow: 0 0 9px $ORANGE;}
.orange-text{color:$ORANGE!important;text-shadow: 0 0 9px $ORANGE;}

.red{background-color:$RED;box-shadow: 0 0 9px $RED;}
.red-text{color:$RED!important;text-shadow: 0 0 9px $RED;}

.white{background-color:$WHITE;box-shadow: 0 0 9px $WHITE;}
.white-text{color:$WHITE!important;}

.grey{background-color:$GREY;box-shadow: 0 0 9px $GREY;}
.grey-text{color:$GREY!important;}

.yellow{background-color:$YELLOW;box-shadow: 0 0 9px $YELLOW;}
.yellow-text{color:$YELLOW!important;}

.purple{background-color:$PURPLE;box-shadow: 0 0 9px $PURPLE;}
.purple-text{color:$PURPLE!important};

.blue{background-color:$BLUE;box-shadow: 0 0 9px $BLUE;}
.blue-text{color:$BLUE!important};

.black{background-color:$BLACk;box-shadow: 0 0 9px $BLACk;}
.black-text{color:$BLACk!important};

.caption-text{color:$CAPTION!important;}