
/////////////////////////////////////////////////////////
/* Color Palette */
$theme:rgb(43, 196, 124);
$orange:rgb(255, 110, 79);
$green:rgb(63, 204, 77);
$red:rgb(198, 34, 25);
/////////////////////////////////////////////////////////

$transition: all 0.5s ease;
$transition-fast: all 0.2s ease;
$transition-very-fast: all 0.1s ease;

$TEXT:rgba(36, 178, 153,1);
$CAPTION: rgba(255,255,255,0.4);
$CYAN:rgb(106, 244, 255);
$CYAN_S1:rgba(43, 82, 107,1);
$CYAN_S2:rgba(73, 112, 137,0.3);

$BLUE:rgb(95, 172, 255);
$BLACk:rgba(0, 0, 0,1);

$ORANGE:rgba(254, 143, 81, 1);
$WHITE:rgba(255,255, 245, 1);
$GREY:rgba(120,120, 120, 1);
$YELLOW:rgba(255, 199, 64,1);
$PURPLE:rgba(106, 77, 158,1);

$RED: rgba(255, 103, 105,1);
$PINK: #FF83CD;

$GREEN: rgba(62, 175, 77,1);
$line:rgba(238, 238, 220,0.5);


$font-stack:'Exo 2', 'Microsoft Yahei';

$padding-side: 0.5em;


.fixed-full-screen{
    position:fixed;top:0;left:0;width:100%;height:100%;
}

.app-btn{
  
    color:#111;
    padding:0 0.2em 0 0.2em;
    background-image:linear-gradient(to bottom, #eee 0%, #bbb 100%);
    border-radius:1px;
    align-items:center;
    justify-content:center;

    &:hover{
      cursor:pointer;
      background-image:linear-gradient(to bottom, #fff 0%, #ccc 100%);
      color:#000;
    }
  
    &:active {
      transition: all 60ms ease;
      opacity: .75;
    }
    
    &:focus {
      outline: 1px dotted #959595;
      outline-offset: -4px;
    }
}

.app-btn-medium{
  
    color:#111;
    padding:0.3em 0.5em;
    background-image:linear-gradient(to bottom, #eee 0%, #aaa 100%);
    border-radius:3px;
    align-items:center;
    justify-content:center;
    font-size:1.15em;
    border-top:rgba(255,255,255,0.3) solid 1px;
    border-bottom:rgba(12,12,12,0.3) solid 1px;

    &:hover{
      cursor:pointer;
      background-image:linear-gradient(to bottom, #fff 0%, #ccc 100%);
      color:#000;
    }
}

.app-btn-large{
  
    color:#111;
    padding:0.5em 1em;
    background-image:linear-gradient(to bottom, #eee 0%, #aaa 100%);
    border-radius:3px;
    align-items:center;
    justify-content:center;
    font-size:1.15em;
    border-top:rgba(255,255,255,0.3) solid 1px;
    border-bottom:rgba(12,12,12,0.3) solid 1px;

    &:hover{
      cursor:pointer;
      background-image:linear-gradient(to bottom, #fff 0%, #ccc 100%);
      color:#000;
    }
}

.grey-material-bar{
    background-image: linear-gradient(to bottom, 
    rgba(40,40,50,1) 0%,
    rgba(40,40,50,1) 15%,
    rgba(35,35,45,1) 50%,
    rgba(38,38,50,1) 85%, 
    rgba(36,36,50,1) 100%);
    padding:0.2em 0 0.2em 0;
    border-bottom:rgba(24,24,24,0.05) solid 1px;
}
  
.grey-material-bar-bright{
    background-image: linear-gradient(to bottom, 
    rgba(50,50,60,1) 0%,
    rgba(50,50,60,1) 15%,
    rgba(48,48,55,1) 50%,
    rgba(48,48,55,1) 85%, 
    rgba(46,46,55,1) 100%);
    border-bottom:rgba(24,24,24,0.05) solid 1px;
}


.cyan{background-color:$CYAN;box-shadow: 0 0 9px $CYAN;}
.cyan-text{color:$CYAN!important;text-shadow: 0 0 9px $CYAN;}

.cyan-s-1{background-color:$CYAN_S1;box-shadow: 0 0 9px $CYAN_S1;}
.cyan-s-1-text{color:$CYAN_S1!important;}

.cyan-s-2{background-color:$CYAN_S2;box-shadow: 0 0 9px $CYAN_S2;}
.cyan-s-2-text{color:$CYAN_S2!important;}

.orange{background-color:$ORANGE;box-shadow: 0 0 9px $ORANGE;}
.orange-text{color:$ORANGE!important;}

.red{background-color:$RED;box-shadow: 0 0 9px $RED;}
.red-text{color:$RED!important;}

.white{background-color:$WHITE;box-shadow: 0 0 9px $WHITE;}
.white-text{color:$WHITE!important;}

.grey{background-color:$GREY;box-shadow: 0 0 9px $GREY;}
.grey-text{color:$GREY!important;}

.yellow{background-color:$YELLOW;box-shadow: 0 0 9px $YELLOW;}
.yellow-text{color:$YELLOW!important;}

.purple{background-color:$PURPLE;box-shadow: 0 0 9px $PURPLE;}
.purple-text{color:$PURPLE!important};

.blue{background-color:$BLUE;box-shadow: 0 0 9px $BLUE;}
.blue-text{color:$BLUE!important};

.black{background-color:$BLACk;box-shadow: 0 0 9px $BLACk;}
.black-text{color:$BLACk!important};

.green{background-color:$GREEN;box-shadow: 0 0 9px $GREEN;}
.green-text{color:$GREEN!important};

.caption-text{color:$CAPTION!important;}