
/////////////////////////////////////////////////////////
/* Color Palette */
$theme:rgb(219, 35, 63);
$orange:rgb(226, 120, 29);
$green:rgb(63, 204, 77);
$red:rgb(198, 34, 25);
/////////////////////////////////////////////////////////
$line:rgba(238, 238, 220,0.5);