/* You can add global styles to this file, and also import other style files */

body{
    padding:0;margin:0;
    font-family: 'Ubuntu', sans-serif, 'Microsoft Yahei';
    font-size:13px;
    background-color:black;
    color:#EEE;
}
////////////////////////////////////////////////////////////////////////
/* Frequently used css properties */
.r{display:flex;flex-direction:row;}.c{display:flex;flex-direction:column;}
.f1{display:flex;flex:1;}.f162{display:flex;flex:1.62;} //Golden Ratio
.s0{flex-shrink:0;}
.ac{text-align:center;}.al{text-align:left;}.ar{text-align:right;}
.w100{width:100%;}.h100{height:100%;}
.ofys{overflow-y:scroll;}
a:link {color: pink;text-decoration:none;}
a:visited {color: pink;text-decoration:none;}
a:hover {color: pink;text-decoration:none;}
a:active {color: pink;text-decoration:none;}
/////////////////////////////////////////////////////////

$line:rgba(238, 238, 220,0.5);
.blue{color:rgb(29, 147, 232);}



.site-list{
    padding:1em;

    .site-list-item{
        padding:1em;
        border:$line solid 1px;
    }
}
.app-background{
    position:fixed;
    width:100%;height:100%;
    img{
        opacity:0.2;
        width:100%;height:auto;
        -webkit-filter: grayscale(1) sepia(0.1);
    }
}
.main{
    position:fixed;
    width:100%;height:100%;
    justify-content:stretch;
}

.site-map{
    // position:fixed;
    // width:100%;height:100%;
}

.node-array{

}

.node{
    padding:0.2em 0.5em;
    background-color:rgba(255,255,255,0.2);
    border-bottom:rgba(255,255,255,0.3) solid 1px;

    &:hover{
        cursor:pointer;
        color:#fff;
    }

    .node-info-box{
        align-items:flex-end;

        .node-info{
            font-size:0.8em;
        }
    }
}

.site-interface{
    position:relative;
    height:100%;
    border-left:$line solid 1px;

    .site-interface-action-bar{
        position:absolute;
        top:0;left:0;
        width:100%;
        background-color:rgba(0,0,0,0.86);
        border-bottom:$line solid 1px;
        z-index:10;

        .site-interface-action-bar-item{
            padding:0.5em 1em;
            border-right:$line solid 1px;
        }
    }

    .probe-log-stream{
        padding:3em 1em;
        position:absolute;
        top:0;left:0;
        width:100%;height:100%;

        .entrance-row{
            padding:0.1em 0;
            border-bottom:rgba(255,255,255,0.2) solid 1px;

            &:hover{
                background-color:rgba(255,255,255,0.1);
            }
        }
    }
}


app-site{
    flex:1;
}