/* You can add global styles to this file, and also import other style files */
@import '_theme';


body{
    @extend .fixed-full-screen;
    padding:0;margin:0;
    font-family: $font-stack;
    font-size:15px;
    color:$WHITE;
    background-image: linear-gradient(to bottom, #000 0%, darken(#000, 5%) 100%);
}

.active{
    font-weight:bold;
    background-color:$CYAN_S1;
}

img{background:$WHITE;}

////////////////////////////////////////////////////////////////////////
/* Frequently used css properties */
.r{display:flex;flex-direction:row;}.c{display:flex;flex-direction:column;}.wr{flex-wrap:wrap;}
.f1{display:flex;flex:1;}.f162{display:flex;flex:1.62;}.f2{display:flex;flex:2;}.s0{flex-shrink:0;}
.aie{align-items:flex-end;}
.ac{text-align:center;}.al{text-align:left;}.ar{text-align:right;}
.w100{width:100%;}.h100{height:100%;}
.ofys{overflow-y:scroll;}
.fe{justify-content:flex-end;}
////////////////////////////////////////////////////////////////////////

a:link {color: $BLUE;text-decoration:none;}
a:visited {color: $BLUE;text-decoration:none;}
a:hover {color: $BLUE;text-decoration:none;}
a:active {color: $BLUE;text-decoration:none;}

.blue{color:$theme;}
.caption{color:grey;}

.app-background{
    @extend .fixed-full-screen;
    background-color:#000;
}

.main{
    @extend .fixed-full-screen;
    justify-content:stretch;
    align-items:stretch;
}

.app-page{
    @extend .fixed-full-screen;
}

.page-cover{
    padding-top:1.3em;
    font-size:1.15em;

    .page-cover-info{
        align-items:center;
        padding:0.5em 0;
    }
    
    .page-cover-nav-wrapper{
        background-color:$CYAN_S2;
        background-image:linear-gradient(to bottom, #eee 0%, #ccc 100%);

        .page-cover-nav{
            padding:0.05em $padding-side;
            border-right:$CYAN_S2 solid 1px;
            text-align:center;
            color:black;

            &:hover{
                cursor:pointer;
                background-color:$CYAN_S2;
            }
        }

        .active{
            background-color:white;
            
        }
        

        input{
            border:none;
            padding:0em $padding-side;
            font-size:1em;
            font-family: $font-stack;
            background-color:$CYAN;

            &:focus{
                outline:none;
            }
        }
    }
}

.page-secondary-nav-wrapper{
    @extend .grey-material-bar;
    padding:0;

    .page-secondary-nav{
        padding:0.1em $padding-side;

        &:hover{
            cursor:pointer;
            background-color:$CYAN_S2;
        }
    }
    

    input{
        border:none;
        padding:0.2em $padding-side;
        font-size:1em;
        font-family: $font-stack;

        &:focus{
            outline:none;
        }
    }
}

.page-body{
    flex:1;
    background-image: linear-gradient(to bottom, rgba(73, 112, 137,0.05) 0%, rgba(73, 112, 137,0.01) 100%);
}


.table-profile-image{
    height:1rem;width:1rem;
}


input, textarea{
    background-color:$CYAN;
    border:none;
    color:#000;
    font-size:1em;
    font-family:$font-stack;

    &:focus{
        outline:none;
    }
}

textarea{resize:vertical;}

app-crawlers,app-crawler,app-crawler-code,app-crawlers-page,app-home{
    display:flex;
    flex-direction:column;
    flex:1;
}


.settings-form{
    padding:0.5em $padding-side;
    
    .input-label{
        width:15em;
        color:$ORANGE;
    }

    .settings-input-row{
        padding:0.5em 0;
        border-bottom:$GREY solid 1px;
        
        input, textarea{
            border:none;
            font-size:1em;
            color:black;
            background-color:$CYAN;
            font-family:$font-stack;

            &:focus{
                outline:none;
            }
        }
    }
}

.new-form{
    padding:0.5em;

    .new-form-row{
        padding:1em;
        border-top:$CYAN_S2 solid 1px;
        align-items:center;
    }

    .app-btn-large{
        align-self:center;
    }

    .text-input{
        padding:0.5em 0.5em;
        width:30em;
        background-color:transparent;
        color:$CYAN;
        background-color:$CYAN_S2;
        border-bottom:$CYAN_S2 solid 1px;
        border-radius:2px;
    }
}

.content-list-wrapper{

    .content-list-head{
        padding:0.5em $padding-side;
        font-size:1em;
        align-items:flex-start;
    }
    
    .list-item{
        padding:0.2em 0;
        border-bottom:$CYAN_S2 solid 1px;
        align-items:center;

        img{
            height:1.5em;width:1.5em;
            padding:0 0;
            margin:0 0.5em;
            border-radius:2px;
        }

        span{
            padding:0 0.5em;
        }
    }
}

.information-wrapper{

    .info-block{
        padding:0.5em;

        img{
            width:5em;height:5em;
        }
    }
}