/* You can add global styles to this file, and also import other style files */
@import '_theme';

*{flex-shrink:0;}
html{background-color:#000;font-size:14px;}

body{
    @extend .fixed-full-screen;
    padding:0;margin:0;
    font-family: $font-stack;
    color:$WHITE;
    -webkit-font-smoothing:antialiased;
}

.active{font-weight:bold;background-color:$CYAN_S1;}

////////////////////////////////////////////////////////////////////////
/* Frequently used css properties */
.r{display:flex;flex-direction:row;}.c{display:flex;flex-direction:column;}.wr{flex-wrap:wrap;}
.f1{display:flex;flex:1;}.f162{display:flex;flex:1.62;}.f2{display:flex;flex:2;}.s0{flex-shrink:0;}
.aie{align-items:flex-end;}
.ac{text-align:center;}.al{text-align:left;}.ar{text-align:right;}
.w100{width:100%;}.h100{height:100%;}
.ofys{overflow-y:scroll;}
.fe{justify-content:flex-end;}
////////////////////////////////////////////////////////////////////////

a:link {color: $BLUE;text-decoration:none;}
a:visited {color: $BLUE;text-decoration:none;}
a:hover {color: $BLUE;text-decoration:none;}
a:active {color: $BLUE;text-decoration:none;}

.blue{color:$theme;}
.caption{color:grey;}

.app-background{
    @extend .fixed-full-screen;
    background-image:linear-gradient(to bottom, #181818 0%, #000 100%);
}

.main{
    @extend .fixed-full-screen;
    justify-content:stretch;
    align-items:stretch;
}

.app-page{
    // @extend .fixed-full-screen;
    // background-image:linear-gradient(to bottom, #181818 0%, #000 100%);
}

.page-cover{
    background-color:$CYAN_S2;

    .page-cover-info{
        align-items:center;
        padding:0.5em 1em;

        h1{
            font-size:1.28em;
            font-weight:normal;
            margin:0;padding:0;
        }
    }
    
    .page-cover-nav-wrapper{

        .page-cover-nav{
            color:white;
            padding:0.5em 1em;
            color:#bbb;

            &:hover{
                cursor:pointer;
                background-color:rgba(255,255,255,0.1);
            }
        }

        .active{
            color:#fff;
            
        }
        

        input{
            border:none;
            padding:0em $padding-side;
            font-size:1em;
            font-family: $font-stack;
            background-color:$ORANGE;

            &:focus{
                outline:none;
            }
        }
    }
}

.page-secondary-nav-wrapper{
    @extend .grey-material-bar;
    padding:0;

    .page-secondary-nav{
        padding:0.1em $padding-side;

        &:hover{
            cursor:pointer;
            background-color:$CYAN_S2;
        }
    }
    

    input{
        border:none;
        padding:0.2em $padding-side;
        font-size:1em;
        font-family: $font-stack;

        &:focus{
            outline:none;
        }
    }
}

.page-body{
    flex:1;

    .page-body-content{
        width:900px;
        margin:2em auto;
        
    }
}

.side-menu{
    border-right:$CYAN_S1 solid 2px;
    align-self:stretch;
    width:12rem;
    
    a:link {color: #bbb;text-decoration:none;}
    a:visited {color: #bbb;text-decoration:none;}
    a:hover {color: #bbb;text-decoration:none;}
    a:active {color: #bbb;text-decoration:none;}

    .side-menu-nav{
        padding:0.5em 1em 0.5em 1em;
        align-items:center;
        font-weight:bold;
        i{width:1em;color:#bbb;}
        &:hover{
            cursor:pointer;
            background-color:$CYAN_S2;
        }
    }

    .splitter{
        padding:0.5em 1em 0.5em 1em;
        align-items:center;
        color:#777;
        font-size:0.8em;
    }
}

.table-profile-image{
    height:1rem;width:1rem;
}

input, textarea{
    background-color:$CYAN;
    border:none;
    color:#000;
    font-size:1em;
    font-family:$font-stack;
    resize:vertical;

    &:focus{
        outline:none;
    }
}

app-crawlers,app-crawler,app-crawler-code,app-crawlers-page,app-home,app-exchange,app-exchanges,app-exchange-securities{
    display:flex;
    flex-direction:column;
    flex:1;
}

.settings-form{
    padding:0.5em $padding-side;
    
    .input-label{
        width:15em;
        color:$ORANGE;
    }

    .settings-input-row{
        padding:0.5em 0;
        border-bottom:$GREY solid 1px;
    }
}

.new-form{
    padding:0.5em;

    .new-form-row{
        padding:1em;
        border-top:$CYAN_S2 solid 1px;
        align-items:center;
    }

    .app-btn-large{
        align-self:center;
    }

    .text-input{
        padding:0.5em 0.5em;
        width:30em;
        background-color:transparent;
        color:$CYAN;
        background-color:$CYAN_S2;
        border-bottom:$CYAN_S2 solid 1px;
        border-radius:2px;
    }
}

.content-list-wrapper{

    .content-list-head{
        padding:0.5em $padding-side;
        font-size:1em;
        align-items:flex-start;
    }
    
    .list-item{
        padding:0.2em 0;
        border-bottom:$CYAN_S2 solid 1px;
        align-items:center;

        img{
            height:1.5em;width:1.5em;
            padding:0 0;
            margin:0 0.5em;
            border-radius:2px;
        }

        span{
            padding:0 0.5em;
        }
    }
}

.information-wrapper{

    .info-block{
        padding:0.5em;

        img{
            width:5em;height:5em;
        }
    }
}