<div class="information-wrapper c">
  <div class="r">

    <div class="c f1">

      <div class="info-block">
        <img [src]="site.imgUrl"/>
      </div>
      <div class="info-block">
        {{site.name}}
      </div>
      <div class="info-block">
        {{site.url}}
      </div>
      <div class="info-block">
        {{site.description}}
      </div>
      <div class="info-block">
        {{site.crawlers}}
      </div>
    </div>

    <div class="c f1">

    </div>
    
  </div>
</div>
