
<div class="r f1">
  <div class="side-menu c">
    <div class="splitter">
      CRAWL
    </div>
    <a class="side-menu-nav r" routerLink="/sites" routerLinkActive="active">
      <i class="fa fa-sitemap" aria-hidden="true"></i>
      &nbsp;
      Sites
    </a>
    <a class="side-menu-nav r" routerLink="/crawlers" routerLinkActive="active">
      <i class="fa fa-bug" aria-hidden="true"></i>
      &nbsp;
      Crawlers
    </a>
    <a class="side-menu-nav r" routerLink="/docs" routerLinkActive="active">
      <i class="fa fa-book" aria-hidden="true"></i>
      &nbsp;
      Docs
    </a>
    <div class="splitter">
      SYSTEM
    </div>
    <a class="side-menu-nav r" routerLink="/dev/database" routerLinkActive="active">
      <i class="fa fa-database" aria-hidden="true"></i>
      &nbsp;
      Database
    </a>
    <a class="side-menu-nav r" routerLink="/cluster" routerLinkActive="active">
      <i class="fa fa-connectdevelop" aria-hidden="true"></i>
      &nbsp;
      Cluster
    </a>
    <a class="side-menu-nav r" routerLink="/fdata" routerLinkActive="active">
      <i class="fa fa-database" aria-hidden="true"></i>
      &nbsp;
      Financial Data
    </a>
    <a class="side-menu-nav r" routerLink="/dev/UML" routerLinkActive="active">
      <i class="fa fa-columns" aria-hidden="true"></i>
      &nbsp;
      UML
    </a>
    <div class="splitter">
      PERSONAL
    </div>
    <a class="side-menu-nav r" routerLink="/developer/tasks" routerLinkActive="active">
      <i class="fa fa-tasks" aria-hidden="true"></i>
      &nbsp;
      Tasks
    </a>
    <a class="side-menu-nav r" routerLink="/resources" routerLinkActive="active">
      <i class="fa fa-bath" aria-hidden="true"></i>
      &nbsp;
      Resources
    </a>
    <a class="side-menu-nav r" routerLink="/admin" routerLinkActive="active">
      <i class="fa fa-user-secret" aria-hidden="true"></i>
      &nbsp;
      Admin
    </a>
    <a class="side-menu-nav r" routerLink="/developer/settings" routerLinkActive="active">
      <i class="fa fa-cog" aria-hidden="true"></i>
      &nbsp;
      Settings
    </a>
    <div class="splitter">
      OTHERS
    </div>
    <a class="side-menu-nav r" routerLink="/colors" routerLinkActive="active">
      <i class="fa fa-paint-brush" aria-hidden="true"></i>
      &nbsp;
      UI Guidelines
    </a>
          
    <a class="side-menu-nav r" routerLink="/sandbox" routerLinkActive="active">
      <i class="fa fa-smile-o" aria-hidden="true"></i>
      &nbsp;
      Sandbox
    </a>
  </div>
  <div class="module-list-wrapper f1 c">

      <div class="module c f1">
      <div class="module-head">
        <a routerLink="/developer/tasks/overall">
          Tasks
        </a>
      </div>
      <div class="module-body c f1">
        <div class="task r" *ngFor="let task of tasks">
          <span class="f1">
            <a routerLink="/developer/tasks/{{task._id}}">
              <i class="fa fa-sticky-note-o" aria-hidden="true"></i>
              {{task.name}}
            </a>
          </span>
          <span class="f1 orange-text">{{task.description}}</span>
          <!-- <span class="app-btn" (click)="complete(task)"><i class="fa fa-check-square" aria-hidden="true"></i></span>
          &nbsp;
          <span class="app-btn" (click)="deleteTask(task)"><i class="fa fa-trash-o" aria-hidden="true"></i></span> -->
        </div>
        <div class="task r" *ngFor="let task of tasksCompleted">
          <span class="f1">
            <a routerLink="/developer/tasks/{{task._id}}">
              <i class="fa  fa-check-square caption-text" aria-hidden="true"></i>
              {{task.name}}
            </a>
          </span>
          <span class="f1 orange-text">{{task.description}}</span>
          <!-- <span class="app-btn" (click)="deleteTask(task)"><i class="fa fa-trash-o" aria-hidden="true"></i></span> -->
        </div>

      </div>
    </div>
    <div class="module c f1">
      <div class="module-head">
        Recent Crawlers
      </div>
      <div class="module-body c f1">

      </div>
    </div> 

  </div>

</div>