@import '../../_theme';

.module-list-wrapper{

    .module{

        .module-head{
            @extend .grey-material-bar-bright;
        }

        .module-body{
            color:$WHITE;
            padding:$padding-side $padding-side;
            border-left:$CYAN_S1 solid 1px;
            border-right:$CYAN_S1 solid 1px;
            border-bottom:$CYAN_S1 solid 1px;

            .task{
                padding:0.1em 0;
                
                span{
                    padding:0 $padding-side;
                }
                
            }
        }
    }
}