@import '../../_theme';


.interface-control-bar{
    background-color:rgba(157,16,54,1);
    margin-bottom:-1px;
    z-index:10;
    
    .interface-control-bar-btn{
        border-top:rgba(255,255,255,0.1) solid 1px;
        border-bottom:rgba(0,0,0,0.2) solid 1px;
        border-right:rgba(0,0,0,0.2) solid 1px;
        color:white;
        padding:0em 1em;

        &:hover{
            cursor:pointer;
            background-color:rgba(255,255,255,0.1);
        }
    }
}

.quick-nav-wrapper{
    border-right:$CYAN_S1 solid 1px;
    border-top:$CYAN_S1 solid 1px;
    align-self:stretch;
    padding:0.2em 0;
    width:10rem;
    color:#aaa;
    font-size:0.9rem;
    a:link {color: #aaa;text-decoration:none;}
    a:visited {color: #aaa;text-decoration:none;}
    a:hover {color: #aaa;text-decoration:none;}
    a:active {color: #aaa;text-decoration:none;}

    

    .quick-nav{
        padding:0.5em 1em 0.5em $padding-side;
        align-items:center;
        i{width:1em;color:#555;}
        &:hover{
            cursor:pointer;
            background-color:$CYAN_S2;
        }
    }

    .splitter{
        padding:0.5em 1em 0.5em $padding-side;
        align-items:center;
        color:#555;
    }
}

.module-list-wrapper{
    font-size:0.9em;

    .module{

        .module-head{
            border-top:$CYAN_S1 solid 1px;
            border-bottom:$CYAN_S1 solid 1px;
            padding:0.2em $padding-side;
        }

        .module-body{
            color:$WHITE;
            padding:$padding-side $padding-side;

            .task{
                padding:0.1em 0;
                
                span{
                    padding:0 $padding-side 0 0;
                }
                
            }
        }
    }
}