
<div class="r f1">
  <div class="module-list-wrapper f1 c">

    <div class="page-cover">
      <div class="page-cover-info">
        <h1>Home</h1>
      </div>
    </div>

    <div class="page-body">

      <div class="page-body-content">
        <div class="content-list-wrapper c w100">
            
          <div class="module c f1">
            
            <div class="module-head">
              <a routerLink="/developer/tasks/overall">Tasks</a>
            </div>

            <div class="module-body c f1">
  
              <table>
                
                <tr>
                  <th class="col-l">Task Name</th>
                  <th class="col-r">Description</th>
                </tr>
            
                <tr  class="list-item" *ngFor="let task of tasks">
                  <td class="col-l">
                      <a routerLink="/developer/tasks/{{task._id}}">{{task.name}}</a>
                  </td>
                  <td class="col-r">{{task.description}}</td>
                </tr>
          
                <tr  class="list-item" *ngFor="let task of tasksCompleted">
                  <td class="col-l">
                      <a routerLink="/developer/tasks/{{task._id}}">{{task.name}}</a>
                  </td>
                  <td class="col-r">{{task.description}}</td>
                </tr>
                  
              </table>
    
            </div>
          </div>

        </div>
    
      </div>
    </div>
  </div>

</div>