@import '../../_theme';

.quick-nav-wrapper{
    margin-right:1em;
    background-color:$CYAN_S2;
    align-self:flex-start;
    

    .quick-nav{
        padding:0.2em 1em 0.2em $padding-side;

        &:hover{
            cursor:pointer;
            background-color:$CYAN_S2;
        }
    }
}

.module-list-wrapper{

    .module{

        .module-head{
            border:$CYAN_S1 solid 1px;
            padding:0.2em $padding-side;
        }

        .module-body{
            color:$WHITE;
            padding:$padding-side $padding-side;
            border-left:$CYAN_S1 solid 1px;
            border-right:$CYAN_S1 solid 1px;
            border-bottom:$CYAN_S1 solid 1px;

            .task{
                padding:0.1em 0;
                
                span{
                    padding:0 $padding-side;
                }
                
            }
        }
    }
}