
.route-map-box{
    padding:00em 0.3em 0em 0.5em;
    //background-color:rgba(255,255,255,0.1);
    margin-top:0.2em;
    border-left:rgba(255,255,255,0.5) solid 1px;
    background-color:rgba(255,255,255,0.03);

    &:hover{
        cursor:pointer;
        background-color:rgba(255,255,255,0.04);
    }
}