
@import '../../../../../../_theme';


.ace-monokai .ace_gutter{
    background:rgba(0,0,0,0)!important;
}

.crawler-panel{
    padding:0em $padding-side;
    border-bottom:$CYAN_S1 solid 1px;

    .active{
        background-color:$CYAN;
        color:#000;
    }

    .url-section-type{
        color:$orange;
        padding:0.2em 0.3em;
    }

    .url-section{
        background-color:transparent;
        color:white;
        padding:0.2em 0em 0.2em 0em;
        color:white;
    }

    .root-url{
        padding:0.2em 0em 0.2em 0em;
        color:white;
    }

    .add-url-section{
        position:relative;
        padding:0.2em 0.3em;
        width:150px;

        &:hover{
            cursor:pointer;
        }

        .dropdown-panel{
            position:absolute;
            top:100%;right:0;
            width:200px;
            border-left:$theme solid 1px;
            border-right:$theme solid 1px;
            border-bottom:$theme solid 1px;
            background-color:#222;
            z-index:10;

            .dropdown-list-item{
                padding:0.2em 0.5em;
                border-bottom:#000 solid 1px;
            }

            .type{

                &:hover{
                    cursor:pointer;
                    background-color:$theme;
                }
            }

            .new-url-section-inputs{
                padding:0.5em 0.5em;
                background-color:#333;
                color:$orange;
            }

            .label{
                width:40px;
            }

            .confirm-button{
                padding:0.2em 0.5em;
                margin:0.5em;
                background-color:$theme;
                text-align: center;
                color:rgba(255,255,255,0.8);

                &:hover{
                    cursor:pointer;
                    color:white;
                }
            }
        }
    }

    input{
        background-color:$orange;
        border:none;
        font-family:$font-stack;
        font-size:1em;
        padding:0.2em 0.5em;
        color:black;

        &:focus{
            outline:none;
        }
    }

    .range-selector-input{
        width:100px;
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: black;
    }
    ::-moz-placeholder { /* Firefox 19+ */
    color: black;
    }
    :-ms-input-placeholder { /* IE 10+ */
    color: black;
    }
    :-moz-placeholder { /* Firefox 18- */
    color: black;
    }

}


.work-space{
    align-items:stretch;

    .output-interface{
        width:25rem;
        border-left:$CYAN_S1 solid 1px;

        .interface-tabs-wrapper{
            border-bottom:$CYAN_S1 solid 1px;

            .interface-tab{
                padding:0.2em 0.5em;
                background-color:$CYAN_S2;
                border-right:$CYAN_S1 solid 1px;
                

                &:hover{
                    cursor:pointer;
                    color:$WHITE;
                    background-color:$CYAN_S1;
                }
            }
        }

        .interface-module{

            .interface-module-head{
                align-self:flex-start;
                color:$WHITE;
                padding:0.2em 0.5em;
                background-color:rgba(255,255,255,0.2);
            }

            .interface-module-body{
                padding:0.5em;
                display:flex;
                align-items:flex-start;

                .msg-wrapper{
                    width:100%;

                    .msg{
                        align-self:flex-start;
                        word-wrap: break-word;
                        margin-bottom:1px;
                    }

                    .success{color:$CYAN;}
                    .error{color:$RED;}
                    .error{color:$GREY;}
                }
            }

            input{
                background-color:$CYAN;
                border:none;
                font-size:1em;
                color:black;
                font-family:$font-stack;
            }

            .config-setter{
                background-color:$CYAN_S1;
                padding:0.2em 0.5em;
                margin:1px -0.5em;
            }
            
        }

        .interface-control-panel{
            background-color:$CYAN_S2;
            border-top:$CYAN_S1 solid 1px;
            padding:0.2em 0.5em;
        }
    }
}