
<div class="app-page f1 c">

  <div class="page-cover c">
    <div class="page-cover-info page-cover-developer r">
      <img [src]="developer.photoURL"/>
      <div class="c">
        <span>{{developer.displayName}}</span>
        <span>Developer</span>
      </div>
    </div>

    <div class="page-cover-nav-wrapper r">
      <a routerLink="/developer/profile"  class="page-cover-nav">
        Profile
      </a>
      <a routerLink="/developer/settings" routerLinkActive="active" class="page-cover-nav">
        Settings
      </a>
      <a routerLink="/developer/activities" class="page-cover-nav">
        Activities
      </a>
      <a routerLink="/developer/roles" class="page-cover-nav">
        Roles
      </a>
      <a routerLink="/developer/tasks" class="page-cover-nav">
        Tasks
      </a>
      <a routerLink="/developer/inbox" class="page-cover-nav">
        Inbox
      </a>
    </div>

  </div>

  <div class="page-body c">
    <router-outlet></router-outlet>
  </div>

</div>
