
<div class="app-page f1 c">

  <div class="page-cover c">
    <div class="page-cover-info page-cover-developer r">
      <h1>{{developer.displayName}}</h1>
    </div>

    <div class="page-cover-nav-wrapper r">
      <a routerLink="/developer/profile" routerLinkActive="active" class="page-cover-nav">
        Profile
      </a>
      <a routerLink="/developer/activities" routerLinkActive="active" class="page-cover-nav">
        Activities
      </a>
      <a routerLink="/developer/tasks" routerLinkActive="active" class="page-cover-nav">
        Tasks
      </a>
      <a routerLink="/developer/inbox" routerLinkActive="active" class="page-cover-nav">
        Inbox
      </a>
      <a routerLink="/developer/settings" routerLinkActive="active" class="page-cover-nav">
        Settings
      </a>
    </div>

  </div>

  <div class="page-body c">
    <router-outlet></router-outlet>
  </div>

</div>
