@import '../../_theme';

.app-page{
    @extend .fixed-full-screen;
    padding:1em;
}

.developer-profile{
    img{
        height:5em;width:5em;
        border-radius:3px;
        border:$WHITE solid 3px;
    }
}