<div class="app-page f1 c">

  <div class="developer-profile c">
    <img [src]="developer.photoURL"/>
    <span>{{developer.displayName}}</span>
    <span>{{developer._id}}</span>
    <span>{{developer.uid}}</span>
    <span>{{developer.photoURL}}</span>
    <span>{{developer.email}}</span>
    <span>{{developer.emailVerified}}</span>
    <span>{{developer.phoneNumber}}</span>
    <span>{{developer.isAnomymous}}</span>
    <span>{{developer.apiKey}}</span>
    <span>{{developer.authDomain}}</span>
    <span>{{developer.created_at}}</span>
    <span>{{developer.updated_at}}</span>
  </div>

</div>
